.sub-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  margin: 5px 10px;
}

.subnav-link {
  display: none;
}

@media (min-width: 992px) {
  .subnav-item {
    display: flex;
    align-items: center;
  }

  .subnav-link {
    display: unset;
    font-size: 14px;
    margin-left: 6px;
  }
}
