.home-container {
  height: 400px;
  margin: 150px 0;
  scroll-snap-align: center;
}

.fc {
  width: 800px;
  display: flex;
  align-items: center;
}

.fc p {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.055em;
}

.fade-container-1 {
  flex-direction: row;
  text-align: start;
}

.fade-container-2 {
  flex-direction: row-reverse;
  text-align: end;
}

.home-img {
  /* height: 150px;
  width: 150px; */
  margin: 0 50px;
  fill: currentColor;
}
